@font-face {
  font-family: 'PlayfairDisplay';
  src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: italic;
}

:root{
    --bg-color: #FFFFFA;
    --font-border-color: #34566F;
    --button-color: #438EBF;

    --large-h1: 5rem;
    --large-h2: 3.5rem;
    --large-h3: 2.25rem;
    --large-subheading: 1.5rem;
    --large-body: 1.125rem;
    --large-link: 1.125rem;

    --medium-h1: 3.4375rem;
    --medium-h2: 2.25rem;
    --medium-h3: 1.75rem;
    --medium-subheading: 1.5rem;
    --medium-body: 1.125rem;
    --medium-link: 1.25rem;

    --small-h1: 2.375rem;
    --small-h2: 1.625rem;
    --small-h3: 1.375rem;
    --small-subheading: 1.125rem;
    --small-link: 1.0625rem;
    --small-body: 1rem;

    --font-size-button: 1rem;
    --font-size-label: 1rem;

    --font-main: "PlayfairDisplay", "Times New Roman", serif;
    
    --space-header-paragraph:8px;
    --space-section-vertical:35px;
    --space-section-horizontal:25px;
    --space-article:30px;
    --space-section-gap:40px;
    --nav-height: 48px;
    --mobile-margin: 24px;
    --tablet-margin: 48px;
    --laptop-margin: 72px;

    --line-height-heading:1.2;
    --line-height-p: 1.5;
}

*{
    box-sizing: border-box;
}

html{
    background-color: var(--bg-color);
}

body{
    color: var(--font-border-color);
}
main{
    font-family: var(--font-main);
    margin: 120px var(--mobile-margin) 80px;

}

.navbar{
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.8px solid var(--font-border-color);
}

.container{
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; 
}

.logo{
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.closeIcon{
    display: none;
}

.hamburger{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menuItem{
    text-decoration: none;
    color: var(--font-border-color);
    font-family: var(--font-main);
    font-size: 22px;
}

.menuItem:hover{
    text-decoration: underline;
    color: var(--button-color);
}
.menu{
    list-style: none;
    background-color: var(--bg-color);
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 130px 0 0;
    margin: 0;
    transition: opacity 0.2s ease-in-out;
}
.hidden{
    opacity: 0;
    visibility: hidden;
}
.oc{ 
    width: 100%;
    height: auto;
}
.hero_img{
    margin: 20px 0 0;
}

.hero_intro{
    display: flex;
    flex-direction: column;
}
.hero_subtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.hero_subtitle h2{
    margin: 0;
    font-size: var(--small-h2);
}
.star{
    width: 20px;
    vertical-align: middle;

}
.text_area h1{
    font-size: var(--small-h1);
    line-height: 1.3;
    margin: 10px 0;
}
.text_area p{
    font-size: var(--small-subheading);
    margin-top: 15px;
    line-height: 1.4;
}
.hero_button{
    margin: 35px 0 20px;
}
.button{
    text-decoration: none;
    color: white;
    width: fit-content;
    border-radius: 30px;
    padding: 10px 24px;
    background-color: var(--button-color);
    font-size: var(--font-size-button);
    border: 1px solid var(--button-color);
}
.section_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 80px;
}
.section_title h2{
    font-size: var(--small-h2);
    margin: 0;
}
.image_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display_image{
    max-width: 100%;
    height: auto;
    margin: 25px 0 0;
    border-radius: 10px;
    border: 1px solid var(--font-border-color);
}
.text_block{
    margin: 20px 0 0;
}
.text_block h2{
    font-size: var(--small-h2);
    margin: 20px 0;
}
.text_block p{
    margin: 20px 0 45px;
    text-wrap: pretty;
    line-height: var(--line-height-p);
}
.tags{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    margin: 5px 0;
}
.tag{
    font-size: var(--font-size-label);
    border: 1px solid var(--font-border-color);
    max-width: fit-content;
    padding: 3px 15px;
    border-radius: 15px;
    margin: 0;
}
.project_link{
    text-decoration: none;
    color: var(--font-border-color);
    border: 1px solid var(--font-border-color);
    padding: 15px 0;
    display: block;
    width: 100%;
    text-align: center;
}
.project_link:hover{
    color: white;
    background-color: var(--font-border-color);
}
.divider_line{
    border: 0.5px dashed var(--font-border-color);
    margin: 30px 0 0;
}
.project_btn{
    margin: 40px 0 0;
    display: flex;
    justify-content: center;
}
#footer{
    margin: 70px var(--mobile-margin) 0;
}
#footer h2{
    margin: 0;
    font-size: var(--small-h2);
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
hr{
    border: 0.5px solid var(--font-border-color);
    margin: 20px 0;
}

.contact_info{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.contact_link{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border: 1.5px solid var(--font-border-color);
    border-radius: 12px;
    display: flex;                  
    align-items: center;
    justify-content: center;
}
.contact_icon{
    width: 45%;
}
.footer_pages{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.pages{
    text-decoration: none;
    font-size: var(--small-subheading);
    color: var(--font-border-color);
}
.small_text{
    margin: 20px 0;
    text-align: center;
}
/* about page */ 
.about_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.about_title h2{
    margin: 0;
}
.selfie{
    margin: 60px 0;
}
.selfie_photo{
    width: 100%;
    height: auto;
}
.intro_paragraphs h3{
    font-size: var(--small-h3);
    margin: 15px 0 20px;
}
.intro_paragraphs p{
    line-height: var(--line-height-p);
    margin: 20px 0 0;
}
.resume{
    margin: 40px 0 0;
}
@media screen and (min-width: 768px) {
    .container{
        max-width: 90%;
    }
    .menu{
        gap: 100px;
        padding-top: 180px;
    }
    main{
        margin: 130px var(--tablet-margin) 0;
    }
    hr{
        margin: 50px 0;
    }
    .hero_intro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 25px;
    }
    .hero_img{
        margin: 0;
    }
    .section_title{
        margin: 100px 0 40px;
    }
    .tags{
        margin: 0;
    }
    .case_study{
        display: flex;
        gap: 25px;
    }
    .text_block{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
   .case_study_btn{
        margin-top: auto;
   }
    .text_block p{
        margin: 0;
    }
    .text_block h2{
        margin: 20px 0 15px;
    }
    .display_image{
        width: 850px;
        height: auto;
        margin: 0;
    }
    .divider_line{
        margin: 50px 0;
    }
    .project_btn{
        margin-top: 60px;
    }
    hr{
        margin: 20px 0;
    }
    #footer{
        margin: 100px var(--tablet-margin) 30px;
    }
    .contact{
        justify-content: flex-start; 
        gap: 20px;                  
    }
    .footer_text{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer_pages{
        display: flex;
        justify-content: flex-start; 
        gap: 50px;  
    }
    .small_text{
        margin: 0;
    }
    /* about page */
    .about{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 50px;
    }
    .about_me{
        display: flex;
        flex-direction: column;
    }
    .intro_paragraphs h3{
        margin: 20px 0;
    }
    
}

@media screen and (min-width: 1024px) {
    .container{
        max-width: 85%;
    }
    .hamburger{
        display: none;
    }
    .menu{
        position: static;          
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding: 0;
        opacity: 1;              
        visibility: visible;
        transform: none;
        transition: none;
        z-index: 1;
    }
    .menuItem{
        font-size: 16px;
    }
    main{
        margin: 140px var(--laptop-margin) 80px;
    }
    .hero_intro{
        display: flex;
        justify-content: flex-start;
        gap: 50px;
    }
    .hero_img{
        width: 400px;   
    }
    .star{
        width: 25px;
        height: auto;
    }
    .text_area{
        max-width: 700px;
    }
    .text_area h2{
        font-size: var(--medium-h2);
    }
    .text_area h1{
        font-size: var(--medium-h1);
    }
    .text_area p{
        font-size: var(--medium-subheading);
    }
    #footer{
        margin: 50px var(--laptop-margin) 40px;
    }
     #footer h2{
        font-size: var(--medium-h2);
    }
    .section_title h2{
        font-size: var(--medium-h2);
    }
     /* about page */
     .about_me h2{
        font-size: var(--medium-h2);
    }
    .about_me h3{
        font-size: var(--medium-h3);
    }
    .about_me p{
        font-size: var(--medium-body);
    }
    .intro_paragraphs h3{
        margin: 25px 0;
    }
    .intro_paragraphs p{
        margin: 25px 0 0;
    }
}


@media screen and (min-width: 1200px) {
    .container{
        max-width: 80%;
    }
    main{
        margin: 150px auto;
        max-width: 80%;
    }
    .hero_intro{
        display: flex;
        justify-content: space-between;
    }
    .text_area h1{
        margin: 10px 0;
    }
    .section_title{
        margin: 150px 0 50px;
    }
    .text_block h2{
        font-size: var(--medium-h2);
        margin: 25px 0;
    }
    .text_block p{
        font-size: var(--medium-body);
    }
    .project_btn{
        margin: 80px 0 0;
    }
    .divider_line{
        margin: 60px 0;
    }
    #footer{
        max-width: 80%;
        margin: 80px auto 40px;
    }
    .contact_link{
        border: 1.5px solid var(--font-border-color);
    }
    .hero_button{
        margin: 50px 0 0;
    }
    /* about page */
    .about{
        gap: 100px;
    }
    .intro_paragraphs p{
        margin: 30px 0 0;
    }
}
