@font-face {
  font-family: 'Playfair';
  src: url("fonts/Playfair-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url("fonts/Playfair-Italic-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
}

:root{
    --bg-color: #FFFFFA;
    --font-border-color: #34566F;
    --button-color: #438EBF;

    --large-h1: 3rem;
    --large-h2: 2.25rem;
    --large-h3: 1.75rem;
    --large-subheading: 1.5rem;
    --large-body: 1.125rem;
    --large-link: 1.125rem;

    --small-h1: 2.25rem;
    --small-h2: 1.75rem;
    --small-h3: 1.375rem;
    --small-subheading: 1.125rem;
    --small-body: 1rem;
    --small-link: 1.25rem;

    --font-size-button: 1rem;
    --font-size-label: 1rem;

    --font-main: "Playfair", "Times New Roman", serif;
    --font-arrow: system-ui, sans-serif;
    
    --mobile-margin: 24px;
    --tablet-margin: 48px;
    --laptop-margin: 72px;

    --line-height-p: 1.5;
}

*{
    box-sizing: border-box;
}

html{
    background-color: var(--bg-color);
}

body{
    color: var(--font-border-color);
}
body h1{
    font-size: var(--small-h1);
}

body h2{
    font-size: var(--small-h2);
}

body h3{
    font-size: var(--small-h3);
}
body h4{
    font-size: var(--small-subheading);
}
body p{
    font-size: var(--small-body);
    line-height: var(--line-height-p);
}
.button{
    font-size: var(--font-size-button);
}
main{
    font-family: var(--font-main);
    margin: 120px var(--mobile-margin) 80px;
}

hr{
    border: 0.5px solid var(--font-border-color);
    margin: 20px 0;
}
/* navigation */
.navbar{
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.8px solid var(--font-border-color);
}
.container{
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; 
}
.logo{
    width: 70px;
    vertical-align: middle;
}
.closeIcon{
    display: none;
}
.hamburger{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menuItem, .menuItem2{
    text-decoration:none;
    color:var(--font-border-color);
    font-family:var(--font-main);
    font-size:var(--small-link);
}
.menuItem2{
    border:1px solid var(--font-border-color);
    border-radius:20px;
    padding:5px 10px;
}
.menuItem2:hover{
    background-color: var(--font-border-color);
    color: white;
}
.menuItem:hover{
    text-decoration: underline;
    color: var(--button-color);
}
.menu{
    list-style: none;
    background-color: var(--bg-color);
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 130px 0 0;
    margin: 0;
    transition: opacity 0.2s ease-in-out;
}
.hidden{
    opacity: 0;
    visibility: hidden;
}
/* hero section */
.hero_img img{
    width: 100%;
    height: auto;
}
.hero_img{
    margin: 30px 0 0;
}
.hero_intro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero_subtitle{
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero_subtitle h2{
    margin: 0;
}
.star{
    width: 20px;
    vertical-align: middle;
}
.text_area h1{
    margin: 10px 0;
}
.text_area p{
    margin-top: 15px;
    font-size: var(--small-subheading);
}
.hero_button{
    margin: 35px 0 0;
}
.button{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 10px 24px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
}
/* project section */
.section_title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 80px;
}
.section_title h2{
    margin: 0;
}
.image_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display_image{
    max-width:100%;
    height:auto;
    margin: 25px 0 0;
    border-radius: 10px;
    border: 1px solid var(--font-border-color);
}
.text_block{
    margin: 20px 0 0;
}
.text_block h2{
    margin: 20px 0;
}
.text_block p{
    margin: 20px 0 60px;
    text-wrap: pretty;
}
.tags{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    margin: 5px 0;
}
.tag{
    font-size: var(--font-size-label);
    border: 1px solid var(--font-border-color);
    padding: 3px 15px;
    border-radius: 15px;
    margin: 0;
}
.project_link{
    text-decoration: none;
    color: var(--font-border-color);
    border: 1px solid var(--font-border-color);
    padding: 15px 0;
    display: block;
    width: 100%;
    text-align: center;
}
.project_link:hover{
    color: white;
    background-color: var(--font-border-color);
}
.divider_line{
    border: 0.5px dashed var(--font-border-color);
    margin: 30px 0 0;
}
.project_btn{
    margin: 40px 0 0;
    display: flex;
    justify-content: center;
}
/* footer */
#footer{
    margin: 70px var(--mobile-margin) 0;
}
#footer h2{
    margin: 0;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.contact_info{
    display: flex;
    gap: 15px;
}
.contact_link{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border: 1.5px solid var(--font-border-color);
    border-radius: 12px;
    display: flex;                  
    align-items: center;
    justify-content: center;
}
.contact_icon{
    width: 45%;
}
.footer_pages{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.pages{
    text-decoration: none;
    font-size: var(--small-subheading);
    color: var(--font-border-color);
}
.pages:hover{
    text-decoration: underline;
    color: var(--button-color);
}
.small_text{
    margin: 20px 0;
    text-align: center;
}
/* about page */
.about_title{
    display: flex;
    align-items: center;
    gap: 5px;
}
.about_title h2{
    margin: 0;
}
.selfie{
    margin: 60px 0;
}
.selfie_photo{
    width: 100%;
    height: auto;
}
.intro_paragraphs h3{
    margin: 15px 0 20px;
}
.intro_paragraphs p{
    margin: 20px 0 0;
}
.resume{
    margin: 40px 0 0;
}
/* case study page */
.back_btn{
    margin-bottom: 40px;
}
.sub_btn{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 6px 12px;
    background-color: var(--button-color);
    font-size: var(--font-size-button);
    border: 1px solid var(--button-color);
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.arrow{
    font-family: var(--font-arrow);
}
.project_name h1{
    margin: 15px 0 20px;
}
.intro_subtitle h4{
    font-size: var(--small-subheading);
    margin: 0;
}
.case-study h3{
    margin: 15px 0;
}
.case-study p{
    margin: 0;
}
.info{
    margin-bottom: 30px;
}
.project_img{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}
.prototype_button{
    margin: 40px 0 55px;
}
.section_title2{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 25px 0;
}
.section_title2 h2{
    margin: 0;
}
.case_study_link{
    text-align: right;
    margin: 50px 0 0;
}
.demo_video {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.demo_slide {
    display: none;
    width: 100%;
    border-radius: 20px;
}
.demo_slide.active {
    display: block;
}
.slide_btn {
    position: absolute;
    top: 50%;
    border: none;
    background: none;
    font-size: 35px;
    cursor: pointer;
    padding: 8px 12px;
    font-family: var(--font-arrow);
    color: var(--font-border-color);
}
.prev_btn {
    left: -50px;
}
.next_btn {
    right: -50px;
}

@media screen and (min-width: 768px) {
    .menu{
        gap: 100px;
        padding-top: 180px;
    }
    main{
        margin: 130px var(--tablet-margin) 0;
    }
    hr{
        margin: 20px 0;
    }
    .hero_intro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .hero_img{
        margin: 0;
    }
    .section_title{
        margin: 100px 0 40px;
    }
    .tags{
        margin: 0;
    }
    .case_study{
        display: flex;
        gap: 25px;
    }
    .text_block{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
   .case_study_btn{
        margin-top: auto;
   }
    .text_block p{
        margin: 0;
    }
    .text_block h2{
        margin: 10px 0;
    }
    .display_image{
        width: 850px;
        height: auto;
        margin: 0;
    }
    .divider_line{
        margin: 40px 0;
    }
    .project_btn{
        margin-top: 60px;
    }
    #footer{
        margin: 100px var(--tablet-margin) 30px;
    }
    .contact{
        justify-content: flex-start; 
        gap: 20px;                  
    }
    .footer_text{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer_pages{
        display: flex;
        justify-content: flex-start; 
        gap: 50px;  
    }
    .small_text{
        margin: 0;
    }
    /* about page */
    .about{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 50px;
    }
    .about_me{
        display: flex;
        flex-direction: column;
    }
    .intro_paragraphs h3{
        margin: 20px 0;
    }
    /* case study page */
    .back_btn{
        margin-bottom: 55px;
}
}

@media screen and (min-width: 1024px) {
    .container{
        max-width: 85%;
    }
    body h1{
        font-size: var(--large-h1);
    }
    body h2{
        font-size: var(--large-h2);
    }
    body h3{
        font-size: var(--large-h3);
    }
    body p{
        font-size: var(--large-body);
    }
    .hamburger{
        display: none;
    }
    .menu{
        position: static;          
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding: 0;
        opacity: 1;              
        visibility: visible;
        transform: none;
        transition: none;
    }
    .menuItem, .menuItem2{
        font-size: var(--large-link);
    }
    main{
        margin: 140px var(--laptop-margin) 80px;
    }
    .star{
        width: 25px;
        height: auto;
    }
    .text_area{
        max-width: 700px;
    }
    .text_area p{
        font-size: var(--large-subheading);
    }
    #footer{
        margin: 0 var(--laptop-margin) 40px;
    }
    /* about page */
    .about{
        margin-bottom: 120px;
    }
    .intro_paragraphs h3{
        margin: 25px 0;
    }
    .intro_paragraphs p{
        margin: 25px 0 0;
    }
    .selfie_photo{
        width: 100%;
        height: auto;
        max-width: 400px;
    }
    /* case study page */
    .overview{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        align-items: center;
    }
    .info-block{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items:flex-start;
    }
    .prototype_button{
        margin-bottom: 30px;
    }
    .project_img{
        margin: 0;
    }
    .section_title2{
        margin: 0;
    }
    .projectInfo{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .projectInfo h3{
        margin-top: 0;
    }
    .info{
        margin-bottom: 0;
    }
    .info p{
        margin-bottom: 10px;
    }
    .case_study_link{
        margin-top: 80px ;
    }
    .divider_line{
        margin: 30px 0;
    }

}


@media screen and (min-width: 1200px) {
    .container{
        max-width: 75%;
    }
    main{
        margin: 150px auto;
        max-width: 75%;
    }
    .hero_img{
        width: 400px;
    }
    .text_area h1{
        margin: 10px 0;
    }
    .hero_button{
        margin: 50px 0 0;
    }
    .section_title{
        margin: 150px 0 50px;
    }
    .project_btn{
        margin: 80px 0 0;
    }
    .divider_line{
        margin: 60px 0;
    }
    #footer{
        max-width: 75%;
        margin: 0 auto 40px;
    }
    /* about page */
    .about{
        gap: 100px;
    }
    .intro_paragraphs p{
        margin: 30px 0 0;
    }
    .selfie_photo{
        width: 350px;
    }
}
